.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-screen-container {
  width:  100vw; 
  height: 35px;

  justify-content: left;
  align-items: center;
  background-color: #F05A5A; 
  border: 1px solid #cc0000;
  color: white; 
  font-weight: bold; 
  font-size: 25px; 
}

.table_position {
  padding: 20px 20px 20px 20px;
}

.custom-border-row {
  border: 4px solid black; /* Aplica un borde rojo de 1 píxel a la fila */
}